<app-header backButton="/auth" title="Recuperar Cuenta" />


<ion-content [fullscreen]="true">
    <div class="d-flex-center">
      <app-logo></app-logo>
      <p class="ion-text-center">
        Te enviaremos un correo con un enlace para que puedas recuperar tu contraseña.
      </p>
      <form [formGroup]="form" class="auth-form" (ngSubmit)="onSubmit()">
        <app-custom-input
          icon="mail-outline"
          label="Email"
          type="eamil"
          autocomplete="email"
          [control]="form.controls.email"
        />
        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors?.['required']">El email es requerido</div>
          <div *ngIf="form.controls.email.errors?.['email']">El email no es valido</div>
        </div>
  
        <ion-button
          expand="block"
          color="primary"
          mode="ios"
          class="ion-margin-top"
          type="submit"
          [disabled]="form.invalid"
        >
            Recuperar contraseña
          <ion-icon slot="end" name="arrow-forward"></ion-icon>
        </ion-button>
      </form>
    </div>
  </ion-content>
  